@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<footer class="layout-footer">    
    <div>@Localizer.GetString("Copyright") © @DateTime.Now.Year <a class="companylink" href="http://HoloModular.com" target="_blank">HoloModular LLC</a> @Localizer.GetString("All Rights Reserved.")</div>
</footer>